* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 1366px;
  margin: 0 auto;
  font-family: "Work Sans", sans-serif;
}
.header {
  width: 1366px;
  height: 67px;
  background: #e5e5e5;
  display: flex;
  justify-content: space-around;
  font-family: "Work Sans", sans-serif;
  align-items: center;
}
.nav_list {
  display: flex;
}
.nav_link {
  list-style: none;
  text-decoration: none;
  color: #151c22;
  margin-left: 35px;
}
.nav_link:nth-child(1) {
  margin-left: 0px;
}
.header_main_title {
  color: #151c22;
}
.icon {
  margin-right: 35px;
}
.main {
  width: 1366px;
}
.section_overalls {
  width: 1366px;
  display: flex;
  justify-content: center;
}
.image1 {
  margin-bottom: 14.5px;
}
.image {
  margin-left: 14.5px;
}
.arrow {
  margin: 0px 60px;
}
.wrapper_for_fotos {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 734px;
  width: 1078px;
  justify-content: center;
}
.wrapper_for_foto {
  display: flex;
  align-items: center;
}
.section_overalls_second {
  width: 834px;
  height: 653px;
  background: #f1f2f4;
  margin: 38px 0px;
}
.section_overalls_second_title {
  color: #151c22;
  font-weight: 700;
  font-size: 32px;
  line-height: 37.54px;
  padding-top: 50px;
  padding-left: 70px;
}
.section_overalls_second_information {
  font-weight: 400;
  line-height: 18.77px;
  color: #151c22;
  padding-top: 40px;
  padding-left: 70px;
  margin-bottom: 50px;
}
.color {
  color: #151c22;
  line-height: 21.11px;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 28px;
}
.radiobutton_first {
  width: 22px;
  height: 22px;
  border-radius: 25px;
  border: 1px solid #b0c3c7;
  background: #b0c3c7;
  margin-bottom: 40px;
}
.radiobutton_second {
  height: 16px;
  width: 16px;
  border-radius: 25px;
  background: #3b6392;
  border: 1px solid #3b6392;
  margin-left: 25px;
}
.radiobutton_third {
  height: 16px;
  width: 16px;
  border-radius: 25px;
  background: #bfc3c8;
  border: 1px solid #bfc3c8;
  margin-left: 25px;
}
.size {
  font-weight: 500;
  font-size: 18px;
  line-height: 21.11px;
  color: #151c22;
  margin-bottom: 25px;
}
.size_first {
  margin-bottom: 40px;
}
.size_first,
.size_second {
  color: #727a82;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.11px;
}
.size_second {
  color: #151c22;
}
.price {
  font-weight: 700;
  font-size: 18px;
  line-height: 21.11px;
  margin-bottom: 50px;
}
.button_add_to_cart {
  width: 200px;
  background: #151c22;
  border: 2px solid #151c22;
  color: white;
  line-height: 18.77px;
  font-weight: 700;
  height: 64px;
}
.wrapper_for_sizes {
  display: flex;
  padding-left: 70px;
  flex-direction: column;
}
.wrapper_for_size {
  display: flex;
}
.size_first,
.size_second {
  padding-left: 20px;
}
.size_first:nth-child(1) {
  padding-left: 0px;
}
.section_bestsellers {
  width: 1366px;
  height: 670px;
  color: #151c22;
}
.container_for_clothers_blocks {
  width: 1233px;
  display: flex;
  height: 400px;
  justify-content: space-evenly;
  margin: 0px 73px;
}
.clother_block {
  width: 279px;
  height: 400px;
}
.wrapper_for_texts {
  display: flex;
  justify-content: space-between;
  height: 188px;
  padding: 0px 98px;
  align-items: center;
}
.section_bestsellers_subtitle {
  text-decoration: underline;
  font-weight: 500;
  line-height: 21.11px;
}
.section_bestsellers_title {
  font-weight: 700;
  font-size: 32px;
  line-height: 37.54px;
}
.clother_img {
  margin-bottom: 25px;
}
.p .clother_title {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.11px;
}
.clother_price {
  font-weight: 700;
  line-height: 18.77px;
}
.section_news {
  width: 1366px;
  height: 680px;
}
.wrapper_for_block {
  display: flex;
  width: 1300px;
  height: 420px;
  justify-content: center;
}
.info_block {
  width: 400px;
  height: 397px;
  background: #f1f2f4;
  display: flex;
  padding-left: 43px;
  flex-direction: column;
  justify-content: center;
  align-self: flex-end;
}
.info_block_title {
  color: #151c22;
  font-weight: 700;
  font-size: 24px;
  line-height: 28.15px;
  margin-bottom: 27px;
}
.info_block_subtitle,
.info_block_news {
  font-size: 18px;
  line-height: 21.11px;
  color: #000000;
  font-weight: 400;
  line-height: 21.11px;
  margin-bottom: 13px;
}
.info_block_news {
  margin-bottom: 27px;
  color: #727a82;
}
.button_news {
  width: 200px;
  height: 64px;
  background: #151c22;
  color: white;
}
.button_news_title {
  font-weight: 700;
  line-height: 18.77px;
}
.footer {
  height: 222px;
  width: 1366px;
  background: #151c22;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.wrapper_for_titles {
  display: flex;
  margin-bottom: 37px;
}
.footer_title {
  margin-bottom: 35px;
}
.footer_subtitle {
  margin-left: 35px;
}
.footer_icons {
  margin-left: 30px;
  border-radius: 4px;
}
.footer_icons1 {
  margin-left: 30px;
}
/* .footer_icons:hover {
  transform: rotate(1.5turn);
} */
.footer_icons:hover {
  width: 45px;
  height: 45px;
  transition: all 1.5s;
  border-radius: 7px;
  margin-bottom: 5px;
}
.nav_link:hover {
  transition: all 0.5s;
  transform: scale(1.2);
  cursor: pointer;
  color: #000000;
}
.button_add_to_cart:hover {
  transition: all 1.5s;
  transform: translate(-10px, 8%);
  box-shadow: 60px -12px #52209d;
  background: rgb(130, 125, 200);
  background: linear-gradient(
    90deg,
    rgba(130, 125, 200, 1) 0%,
    rgba(192, 165, 218, 1) 0%
  );
  color: #000000;
}
.header_main_title:hover {
  color: #324ab2;
}
.icon:hover {
  transition: all 0.5s;
  transform: scale(1.2);
}
.clother_img:hover {
  transition: all 1.5s;
  box-shadow: 14px 12px 1px rgb(25, 117, 203);
}
.footer_icons1:hover {
  transition: all 5.5s;
  transform: translate(120px, -10%);
  transform: translate(600%, -400%);
}
