* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 1366px;
  margin: 0 auto;
  font-family: "Work Sans", sans-serif;
}
.header {
  width: 1366px;
  height: 67px;
  background: #e5e5e5;
  display: flex;
  justify-content: space-around;
  font-family: "Work Sans", sans-serif;
  align-items: center;
}
.nav_list {
  display: flex;
}
.nav_link {
  list-style: none;
  text-decoration: none;
  color: #151c22;
  margin-left: 35px;
}
.nav_link:nth-child(1) {
  margin-left: 0px;
}
.header_main_title {
  color: #151c22;
}
.icon {
  margin-right: 35px;
}
.promo {
  width: 1366px;
  font-family: "Work Sans", sans-serif;
  height: 260px;
  background: #f1f2f4;
  display: flex;
}
.wrapper_for_texts {
  display: flex;
}
.promo_left {
  width: 610px;
  height: 260px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.wrapper_for_texts {
  display: flex;
  flex-direction: column;
}
.promo_subtitle {
  margin-bottom: 39px;
  font-weight: 500;
  line-height: 21.11px;
  font-size: 18px;
}
.promo_title {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #151c22;
}
.promo_right {
  width: 486px;
  height: 260px;
  display: flex;
  justify-content: space-around;
}
.foto {
  width: 300px;
  height: 260px;
}
.main {
  width: 1366px;
  font-family: "Work Sans", sans-serif;
}
.section_bestsellers {
  width: 1366px;
  color: #151c22;
}
.container_for_clothers_blocks {
  width: 1233px;
  display: flex;
  height: 400px;
  justify-content: space-evenly;
  margin: 0px 73px;
}
.clother_block {
  width: 279px;
}
.clother_img {
  margin-bottom: 25px;
}
.clother_title {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.11px;
}
.clother_price {
  font-weight: 700;
  line-height: 18.77px;
}
.wrapper_for_button {
  display: flex;
  padding: 40px 121px;
  justify-content: flex-end;
}
.button {
  width: 243px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 0px 18px;
  align-items: center;
}
hr {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 24%,
    rgba(213, 213, 213, 1) 24%
  );
  width: 263px;
  height: 3px;
  border: none;
  margin-bottom: 40px;
}
.section_showing {
  width: 1366px;
  height: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section_showing_title {
  margin-bottom: 8px;
}
.section_showing_button {
  background: #151c22;
  width: 200px;
  height: 64px;
  color: white;
}
.section_showing_button_title {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}
.footer {
  height: 222px;
  width: 1366px;
  background: #151c22;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.wrapper_for_titles {
  display: flex;
  margin-bottom: 37px;
}
.footer_title {
  margin-bottom: 35px;
}
.footer_subtitle {
  margin-left: 35px;
}
.footer_icons {
  margin-left: 30px;
}
